@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1E1E1E;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito', Arial, sans-serif;
}

@font-face {
  font-family: 'Feather';
  src: url('/fonts/Feather-Bold.woff2') format('woff2'),
    url('/fonts/Feather-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes toss {
  0% {
    transform: translateX(-50%) translateY(120%) rotate(-15deg);
  }

  50% {
    transform: translateX(-25%) translateY(-60vh) rotate(0deg);
  }

  100% {
    transform: translateX(0%) translateY(120%) rotate(15deg);
  }
}

#tossed-image {
  pointer-events: none;
}