@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito', Arial, sans-serif;
}

@font-face {
  font-family: 'Feather';
  src: url('/fonts/Feather-Bold.woff2') format('woff2'),
    url('/fonts/Feather-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}